In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import csv
# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [ ]:
# Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

In [ ]:
city_data_df.count()

In [ ]:
# Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [32]:
# Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Severo-Kurilsk,RU,2021-06-06 20:09:19,50.6789,156.1250,42.01,94,100,8.88,overcast clouds
1,1,Cape Town,ZA,2021-06-06 20:05:03,-33.9258,18.4232,69.12,25,20,10.22,few clouds
2,2,East London,ZA,2021-06-06 20:09:21,-33.0153,27.9116,63.30,41,0,9.78,clear sky
4,4,Salina,US,2021-06-06 20:09:25,38.8403,-97.6114,84.33,51,40,12.66,scattered clouds
5,5,Grand Gaube,MU,2021-06-06 20:09:26,-20.0064,57.6608,72.37,84,6,3.00,clear sky

In [33]:
# Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                596
City                   596
Country                589
Date                   596
Lat                    596
Lng                    596
Max Temp               596
Humidity               596
Cloudiness             596
Wind Speed             596
Current Description    596
dtype: int64

In [34]:
# Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Severo-Kurilsk,RU,42.01,overcast clouds,50.6789,156.1250,
1,Cape Town,ZA,69.12,few clouds,-33.9258,18.4232,
2,East London,ZA,63.30,clear sky,-33.0153,27.9116,
4,Salina,US,84.33,scattered clouds,38.8403,-97.6114,
5,Grand Gaube,MU,72.37,clear sky,-20.0064,57.6608,
6,Kruisfontein,ZA,60.89,clear sky,-34.0033,24.7314,
7,New Norfolk,AU,53.92,overcast clouds,-42.7826,147.0587,
8,Olafsvik,IS,47.59,light rain,64.8945,-23.7142,
9,Nanortalik,GL,45.99,overcast clouds,60.1432,-45.2371,
10,Sitka,US,51.69,light rain,57.0531,-135.3300,

In [36]:
# Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Severo-Kurilsk,RU,42.01,overcast clouds,50.6789,156.1250,Kak Doma
1,Cape Town,ZA,69.12,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,East London,ZA,63.30,clear sky,-33.0153,27.9116,Tu Casa
4,Salina,US,84.33,scattered clouds,38.8403,-97.6114,"Holiday Inn Express & Suites Salina, an IHG Hotel"
5,Grand Gaube,MU,72.37,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
6,Kruisfontein,ZA,60.89,clear sky,-34.0033,24.7314,Oyster Bay House Rental
7,New Norfolk,AU,53.92,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
8,Olafsvik,IS,47.59,light rain,64.8945,-23.7142,Hotel Olafsvik
9,Nanortalik,GL,45.99,overcast clouds,60.1432,-45.2371,Hotel Kap Farvel
10,Sitka,US,51.69,light rain,57.0531,-135.3300,Westmark Sitka

In [40]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!='']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Severo-Kurilsk,RU,42.01,overcast clouds,50.6789,156.1250,Kak Doma
1,Cape Town,ZA,69.12,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,East London,ZA,63.30,clear sky,-33.0153,27.9116,Tu Casa
4,Salina,US,84.33,scattered clouds,38.8403,-97.6114,"Holiday Inn Express & Suites Salina, an IHG Hotel"
5,Grand Gaube,MU,72.37,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
...,...,...,...,...,...,...,...
681,Huarmey,PE,70.83,overcast clouds,-10.0681,-78.1522,Hotel Miramar
682,San Francisco,US,88.14,few clouds,37.7749,-122.4194,The Clift Royal Sonesta Hotel
684,Quelimane,MZ,64.35,clear sky,-17.8786,36.8883,Hotel Flamingo
685,Sampit,ID,74.39,broken clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
687,Ajdabiya,LY,73.76,clear sky,30.7554,20.2263,Almadina Hotel

In [41]:
# Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [1]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

NameError: name 'gmaps' is not defined